.ml-auto{
    margin-left: auto;
}

.px-12{
    padding: 0 12px;
}

.pl-8{
    padding-left: 8px;
}

.pr-15{
    padding-right: 15px;
}

.pt-8{
    padding-top: 8px;
}

.mr-8{
    margin-right: 8px;
}