.MISAButton {
    height: 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-family: Tahoma;
    font-size: 13px;
    border-radius: 2px;
}

.MISAButton.default {
    background: #fafafa;
    border: 1px solid #ccc;
}

.MISAButton.default:hover,
.MISAButton.default:active {
    cursor: pointer;
    background: #e4f2ea;
    border-color: #0072bc;
}


.MISAButton.success {
    background: #0072bc;
    border: 1px solid #0072bc;
}

.MISAButton.success:hover,
.MISAButton.success:active {
    cursor: pointer;
    background: #008ce6;
    border: 1px solid #008ce6;
}

.MISAButton.success button{
    color: #fff;
}

.MISAButton button {
    border: none;
    outline: none;
    background: none;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.MISAButton.disabled{
    border: 1px solid #ccc;
    background: #fafafa;
    opacity: 30%;
}

.MISAButton button .icon {
    background: url("../../assets/IconSprite.png");
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    margin-right: 8px;
}